# Tool Development Notebook

In [25]:
import xlsxwriter as xl

import pandas as pd

import xlrd

In [20]:
file_loc = '/Users/charlie//Documents/personal_tools/Excel_Tools/excel_files/test_cells.xlsx'
workbook = xl.Workbook(file_loc)

In [21]:
worksheet = workbook.add_worksheet()
#worksheet = 
workbook.worksheets()

In [22]:
to_write_list = [9,22,43,2,23,14,44,14,2,2223,1]

In [23]:
for row_num,data in enumerate(to_write_list):
    worksheet.write(row_num,row_num,data)

In [24]:
workbook.close()

## Write row/column right/down from some starting index

## Write dataframe into excel file, give x,y for upper left corner, and specify if should include column names and such too

In [26]:
def writeFrame(dataframe,file_location,sheet_name="Main",safe=True,offset=[0,0]):
    #safe means checking that the excel file is empty before
    # writing over whatever content it has.
    try:
        if safe:
            safe_check_frame = pd.read_excel('/Users/charlie//Documents/personal_tools/Excel_Tools/excel_files/test_cells.xlsx')
            if not safe_check_frame.empty:
                print("Excel file not empty! If you still want to overwrite it, run this function with safe mode off!")
                return

        # Create a Pandas Excel writer using XlsxWriter as the engine.
        writer = pd.ExcelWriter(file_location, engine='xlsxwriter')

        # Convert the dataframe to an XlsxWriter Excel object.
        df.to_excel(writer, sheet_name=sheet_name,startcol=offset[1],
                       startrow=offset[0])

        # Close the Pandas Excel writer and output the Excel file.
        writer.save()
        
        return True
    
    except:
        
        return False

## Add characters to start/end of cells in a specific area of cells

## Find and replace string slices in all the cells in a specific area

## Replace all cells matching a condition with a value thats a function of the original

### i.e. replace all cells with values under 5 using timesTwo(), or using setToZero()